.gradle
.settings

*.xml

build/classes
build/distributions/*
!build/distributions/*.???
build/generated
build/resources
build/scripts
build/tmp
build/gluonfx/log
build/gluonfx/x86_64-linux/gensrc
build/gluonfx/x86_64-linux/gvm

bin/test
src/test
/bin/

